@model UdlånsWeb.Models.User
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Opret Bruger</h1>
<hr />
@using (Html.BeginForm("AddUser"))
{
    <div>
        @Html.TextBoxFor(u => u.Name, new { @class = "form-control", placeholder = "Navn" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
    </div>
    <br />
    @Html.TextBoxFor(u => u.Initials, new { @class = "form-control", placeholder = "Initialer" })
    <br />
    <div class="row">
        <p>Admin</p>
        @Html.CheckBoxFor(u => u.Admin)
    </div>
    <button type="submit">Tilføj bruger</button>
}


