@model UdlånsWeb.Models.Course

@using (Html.BeginForm("Booking", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.CheckBoxFor(m => m.Defined)
    <label>Sæt Kryds hvis du vil sætte manuel slutdato.</label>
    <br />
    <button type="submit">Fortsæt</button>

}