@model ChangePassword

<div class="imgcontainer">
    <img src="~/Images/ZBCLogo.jpg" height="150" width="150" />
</div>
@if (!Model.Valid)
{
    <p style="color:red">Passwords skal indeholde store og små bogstaver samt tal</p>
}
<div class="container">
    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
    {
        <label for="uname"><b>Initialer</b></label>
        @Html.TextBoxFor(x => x.Initials)
        <br />
        <label for="email"><b>Email</b></label>
        @Html.TextBoxFor(x => x.Email)
        <br />
        <label for="opass"><b>Gamle password</b></label>
        @Html.TextBoxFor(x => x.OldPassword)
        <br />
        <label for="npass"><b>Nye password</b></label>
        @Html.TextBoxFor(x => x.NewPassword)
        <button type="submit">Skift Password</button>
    }
</div>