@model UdlånsWeb.Models.BookingViewModel

@{
    ViewData["Title"] = "ConfirmBooking";
}

<h1>Er du sikker på at du vil Book denne host</h1>

@using (Html.BeginForm("BookingSucces", "Home", FormMethod.Get))
{
    <dl>
        <dt>
            Dine initialer:
        </dt>
        <dd>
            @Html.DisplayFor(x => x.RentedClient)
        </dd>

        <dt>
            Navn på host:
        </dt>
        <dd>
            @Html.DisplayFor(x => x.HostRentedForCourse.HostName)
        </dd>

        <dt>
            Indleverings dato:
        </dt>
        <dd>
            @Html.DisplayFor(x => x.HostRentedForCourse.TurnInDate)
        </dd>
    </dl>
    <button type="submit">Godkend</button>
}
@using (Html.BeginForm("Booking", "Home", FormMethod.Get))
{
    <button type="submit">Afvis</button>
}
<div>
    <a asp-action="Index">Go Back</a>
</div>
