@{
    ViewData["Title"] = "Home Page";
}

<div>

    <img src="./Images/ZBCLogo.jpg" height="150" width="150" />

    <div>
        <h1>Login</h1>
        <label >Brugernavn</label><br />
        <input type="text" name="UserName" /><br />

        <label >Password</label><br />
        <input type="password" name="passwordBox" value="" />
    </div>
</div>
<a asp-action="InfoPage" asp-controller="Home"> link</a>

