@model UdlånsWeb.Models.Course

@{
    Layout = null;
}
<label asp-for="Name" class="control-label"></label>
<br />

<input asp-for="Name" class="form-control" />
<span asp-validation-for="Name" class="text-danger"></span>
<br />

<label asp-for="StartDate" class="control-label"></label>
<br />

<input asp-for="StartDate" class="form-control" />
<span asp-validation-for="StartDate" class="text-danger"></span>
<br />
@if (Model.Difined == true)
{
    <label asp-for="EndData" class="control-label"></label>
    <br />
    <input asp-for="EndData" class="form-control" />
    <span asp-validation-for="EndData" class="text-danger"></span>
    <br />
}


<label asp-for="NumberOfStudents" class="control-label"></label>
<br />

<input asp-for="NumberOfStudents" class="form-control" />
<span asp-validation-for="NumberOfStudents" class="text-danger"></span>
<br />

<input style="margin-top:20px;" type="submit" value="Book" class="btn btn-primary" />
<div>
    <a asp-action="InfoPage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


