

<div class="imgcontainer">
    <img src="~/Images/ZBCLogo.jpg" height="150" width="150" />
</div>
<div class="container">
    <p>Dine ændringer er nu blevet foretaget.</p>
    <p>Du vil få en mail med dine nye oplysninger.</p>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="HomePage">Gå tilbage</a>
</div>