@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">

    <h4>
        Contact Info:
    </h4>
    <h5>
        Navn  :<br />
        Email :
    </h5>
    <hr />
    <h6>
        Lavet af:<br />
        RingstedSkp<br />
        Kenneth<br />
        Martin<br />
        Jesper

    </h6>

    <img src="~/Images/ZBCLogo.jpg" sizes="auto" alt="zbc logo" style="width:250px; height:150px;" />

</div>