@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">
    <br />
    <br/>
    <br/>
    <h4>
        Kontakt Info:
    </h4>
    <h5>
        Navn  : Carsten Nielsen<br />
        Email : cfmn@zbc.dk
    </h5>
    <hr />
    <br/>
    <br/>
    <h6>
        Lavet af:<br />
        RingstedSkp<br />
        Kenneth Andersen<br />
        Martin Madsen<br />
        Jesper Deleurand

    </h6>

    <img src="~/Images/ZBCLogo.jpg" sizes="auto" alt="zbc logo" style="width:300px; height:300px;" />

</div>