@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">

    <h4>
        Kontakt Info:
    </h4>
    <h5>
        Navn  : Carsten Nielsen<br />
        Email : cfmn@zbc.dk
    </h5>
    <hr />
    <h6>
        Lavet af:<br />
        RingstedSkp<br />
        Kenneth<br />
        Martin<br />
        Jesper

    </h6>

    <img src="~/Images/ZBCLogo.jpg" sizes="auto" alt="zbc logo" style="width:250px; height:150px;" />

</div>