@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .Mytest{
        background-color: red;
    }
    .Green{
        background-color: green;
    }
</style>
<div class="Mytest"><a href="#">this is my test</a></div>

