@model ResetPassword

<div class="imgcontainer">
    <img src="~/Images/ZBCLogo.jpg" height="150" width="150" />
</div>
<div class="container">
    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
    {
        <label for="uname"><b>Email</b></label>
        @Html.TextBoxFor(x => x.Email)
        <button type="submit">Reset Password</button>
    }
</div>