@model UdlånsWeb.Models.User
@{
    
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Tilføj ny bruger</h2>

@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    <div>
        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", placeholder = "Navn" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
    </div>
    <br />
    @Html.TextBoxFor(u => u.Initials, new { @class = "form-control", placeholder = "Initialer" })
    <br />
    <p>Admin</p>
    <div>
        @Html.CheckBoxFor(u => u.Admin)
    </div>
    <button type="submit">Tilføj bruger</button>
}


