@model UdlånsWeb.Models.BookingViewModel

<h5>Booking gennemført</h5>
<h6>
    Mail vil blive sendt til: @if (Model.CurrentUser.Email != null) { @Html.DisplayFor(x => Model.CurrentUser.Email); }
</h6>

<dl>
    <dt>
        Udlånt til:
    </dt>
    <dd>
        @if (Model.CurrentUser.Initials != null) { @Html.DisplayFor(x => x.CurrentUser.Initials); }
    </dd>
    <dd>
      <hr />
    </dd>

    @foreach (var host in Model.HostsRentedForCourse)
    {
        <dt>
            Navn på host:
        </dt>
        <dd>
            @host.Name
        </dd>

        <dt>
            Indleverings dato:
        </dt>
        <dd>
            @Model.TurnInDate
        </dd>
        <dd>
           <hr />
        </dd>
    }

</dl>
<div>
    @using (Html.BeginForm("BookingDefine", "Booking", FormMethod.Get))
    {
        <button type="submit">Godkend</button>
    }
</div>