@model UdlånsWeb.Models.Course

@using (Html.BeginForm("InfoPage", "Booking", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.CheckBoxFor(m => m.Defined)
    <label>Afkryds denne hvis du vil sætte en slut dato</label>
    <br />
    <button type="submit">Fortsæt</button>

}