@model UdlånsWeb.Models.BookingViewModel

@{
    ViewData["Title"] = "ConfirmBooking";
}

<h1>Er du sikker på at du vil Book denne host</h1>

@using (Html.BeginForm("BookingSucces", "Booking", FormMethod.Get))
{
    <dl>
        <dt>
            Dine initialer:
        </dt>
        <dd>
            @Html.DisplayFor(x => x.CurrentUser.Initials)
        </dd>

        <dt>
            Navn på hosts:
        </dt>
        @foreach (var item in Model.HostsRentedForCourse)
        {
            <dd>
                @item.Name
            </dd>
            <dt>
                Indleverings dato:
            </dt>
            <dd>
                @item.TurnInDate
            </dd>
        }

    </dl>
    <button type="submit">Godkend</button>
}
@using (Html.BeginForm("InfoPage", "Booking", FormMethod.Get))
{
    <button type="submit">Afvis</button>
}
<div>
    <a asp-action="Index">Go Back</a>
</div>
